<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="Description" content="<%= current_page.data.description %>">
    <!-- Twitter card -->
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@j4yav" />
    <meta name="twitter:creator" content="@j4yav" />
    <!-- Open graph -->
    <meta property="og:url"                content="<%= data.config.site_url + current_page.url %>" />
    <meta property="og:type"               content="website" />
    <meta property="og:title"              content="<%= current_page.data.title %>" />
    <% if current_page.data["highlighted_image"] %>
      <meta property="og:image"              content="<%= data.config.site_url + current_page.data["highlighted_image"] %>" />
    <% else %>
      <meta property="og:image"              content="<%= data.config.site_url + "/images/gortek_focus.jpg"%>" />
    <% end %>
    <meta property="og:description"        content="<%= current_page.data["description"] || "This page does not have a description." %>" />
    <meta property="og:site_name"          content="Jason Yavorska" />
    <!-- Use the title from a page's frontmatter if it has one -->
    <title><%= current_page.data.title || "Jason Yavorska" %></title>
    <!-- Set canonical link for this content -->
    <link rel="canonical" href="<%= current_page.data.canonical_url || data.config.site_url + current_page.url %>" />
    <!-- Load stylesheets -->
<style>
@font-face {
        font-family: 'PT Sans';
        font-style: normal;
        font-weight: 400;
        src:
                local('/PT Sans'),
                local('/PTSans-Regular'),
                url('/PT_Sans_400.woff2') format('woff2'),
                url('/PT_Sans_400.woff') format('woff'),
                url('/PT_Sans_400.eot?#iefix') format('embedded-opentype'),
                url('/PT_Sans_400.svg#PTSans') format('svg'),
                url('/PT_Sans_400.ttf') format('truetype');
}
@media screen and (min-width: 960px) {
    html {
          margin-left: calc(100vw - 100%);
              margin-right: 0;
                }
    }
    body {
      font-family: "PT Sans", serif;
      line-height: 1.5;
      font-size: 18px;
      color: #222;
      max-width: 800px;
      margin: 20px auto;
      padding: 0 10px;
    }
    .pageimage {
      border-width: 1px;
      border-style: solid;
      box-shadow: 0 0 2px 0px black inset, 0 0 2px 0px black;
      float: right;
      width: 150px;
      height: 150px;
      padding: 0;
      margin-right: 0.25em;
      margin-left: 1em;
      border-radius: 50%;
      background-color: black;
      -o-object-fit: contain;
      object-fit: contain;
    }
    p {
        margin-bottom: 13.5px;
        margin-top: 0px;
    }
    pre > code {
        padding: 10px;
        display: block;
        overflow-x: auto;
    }
    h2 {
        font-size: 20px;
        font-weight: 800;
    }
    input[type="checkbox"] {
        outline: 2px solid lightgray;
          outline-offset: -1px;
            opacity: 0.8;
    }
    input[type="checkbox"]:checked {
        outline: 2px solid teal;
          outline-offset: -1px;
            opacity: 0.8;
    }
    a {
        color: teal;
          text-decoration: none;
    }
    a:hover,
    a:focus {
        text-decoration: underline;
    }
    li {
        margin: 0 0 7px 0;
    }
    .counter {
      display: none;
    }
    <%= Rouge::Themes::Base16::Monokai.render(:scope => '.highlight') %>
</style>
    <!-- IndieAuth -->
    <link rel="authorization_endpoint" href="https://indieauth.com/auth">
    <link rel="token_endpoint" href="https://tokens.indieauth.com/token">
    <!-- Feeds -->
    <link
      rel="alternate"
      href="<%= data.config.site_url %>/blog.rss.xml"
      type="application/rss+xml"
      title="Jason Yavorska's Blog"/>
  </head>
  <body>
    <div class="content">
      <div class="menu">
        <a href="/">home</a> |
        <a href="/learn">kids can code</a> |
        <a href="/projects">projects</a> |
        <a href="/plan/">plan</a> |
        <a href="/stats/">stats</a>
      </div>
      <hr noshade>
      <%= yield %>
      <div class="edit-page">
        <%= link_to('Edit this page', "#{data.config.repository}/-/sse/master" + URI.escape("/source/#{current_page.file_descriptor.relative_path}", '/') + "/?return_url=" + URI.escape(data.config.site_url), id: 'edit-page-link') %>
      </div>
    </div>
  </body>
</html>

