---
title: "Jason Yavorska"
description: "My home page on the internet."
highlighted_image: "/images/me.jpg"
blog: blog
---

<div class="h-card">
  <img width=150 alt="Jason Yavorska" src="/images/me.jpg" class="u-photo pageimage"/>
  <h3 class="p-name">Jason Yavorska</h3>
  <p class="p-note"><%= data.config.description %></p>

  <p>I have profiles on
  <a href="https://metaluna.io" class="u-url" rel="me">metaluna.io</a>, 
  <a href="https://twitter.com/j4yav" class="u-url" rel="me">Twitter</a>,
  <a href="https://www.instagram.com/j4yav/" class="u-url" rel="me">Instagram</a>,
  <a href="https://lichess.org/@/j4yav" class="u-url" rel="me">Lichess</a>,
  <a href="https://gitlab.com/users/jyavorska" class="u-url" rel="me">GitLab</a>, 
  <a href="https://github.com/fastloris" class="u-url" rel="me">GitHub</a>, and
  <a href="https://linkedin.com/in/jlenny" class="u-url" rel="me">LinkedIn</a>.
  Best place to contact me is on Twitter.</p>
</div>

### Blog Posts

<% page_articles.group_by {|a| a.date.year }.each do |year, articles| %>
  <h3><%= year %></h3>
  <ul>
    <% articles.each do |article| %>
      <li><a href="<%= article.data["canonical_url"] ? article.data["canonical_url"] : article.url %>"><%= article.title %></a> <%= article.data["canonical_url"] ? "<i>(" + URI.parse(article.data["canonical_url"]).host.downcase +  ")</i>" : "" %>: <%= article.data["description"] %></li>
    <% end %>
  </ul>
<% end %>